<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>client</key>
	<string>80c010b7d70b4ae39d75bf5a1f0bc791</string>
	<key>redirectURI</key>
	<string>silvercloudlogin://spotify/callback</string>
	<key>tokenSwapURL</key>
	<string>https://silvercloudswap.herokuapp.com/swap</string>
	<key>tokenRefreshURL</key>
	<string>https://silvercloudswap.herokuapp.com/refresh</string>
</dict>
</plist>
